!pip install absl-py==0.12.0
!pip install albumentations==0.1.12
!pip install altair==4.1.0
!pip install appdirs==1.4.4
!pip install argon2-cffi==20.1.0
!pip install arviz==0.11.2
!pip install astor==0.8.1
!pip install astropy==4.2.1
!pip install astunparse==1.6.3
!pip install async-generator==1.10
!pip install atari-py==0.2.6
!pip install atomicwrites==1.4.0
!pip install attrs==21.2.0
!pip install audioread==2.1.9
!pip install autograd==1.3
!pip install Babel==2.9.1
!pip install backcall==0.2.0
!pip install beautifulsoup4==4.6.3
!pip install bleach==3.3.0
!pip install blis==0.4.1
!pip install bokeh==2.3.2
!pip install Bottleneck==1.3.2
!pip install branca==0.4.2
!pip install bs4==0.0.1
!pip install CacheControl==0.12.6
!pip install cachetools==4.2.2
!pip install catalogue==1.0.0
!pip install certifi==2020.12.5
!pip install cffi==1.14.5
!pip install cftime==1.4.1
!pip install chainer==7.4.0
!pip install chardet==3.0.4
!pip install click==8.0.0
!pip install cloudpickle==1.3.0
!pip install cmake==3.12.0
!pip install cmdstanpy==0.9.5
!pip install colorcet==2.0.6
!pip install colorlover==0.3.0
!pip install community==1.0.0b1
!pip install contextlib2==0.5.5
!pip install convertdate==2.3.2
!pip install coverage==3.7.1
!pip install coveralls==0.5
!pip install crcmod==1.7
!pip install cufflinks==0.17.3
!pip install cupy-cuda101==7.4.0
!pip install cvxopt==1.2.6
!pip install cvxpy==1.0.31
!pip install cycler==0.10.0
!pip install cymem==2.0.5
!pip install Cython==0.29.23
!pip install daft==0.0.4
!pip install dask==2.12.0
!pip install datascience==0.10.6
!pip install debugpy==1.0.0
!pip install decorator==4.4.2
!pip install defusedxml==0.7.1
!pip install descartes==1.1.0
!pip install dill==0.3.3
!pip install distributed==1.25.3
!pip install dlib==19.18.0
!pip install dm-tree==0.1.6
!pip install docopt==0.6.2
!pip install docutils==0.17.1
!pip install dopamine-rl==1.0.5
!pip install earthengine-api==0.1.264
!pip install easydict==1.9
!pip install ecos==2.0.7.post1
!pip install editdistance==0.5.3
!pip install en-core-web-sm==2.2.5
!pip install entrypoints==0.3
!pip install ephem==3.7.7.1
!pip install et-xmlfile==1.1.0
!pip install fa2==0.3.5
!pip install fancyimpute==0.4.3
!pip install fastai==1.0.61
!pip install fastdtw==0.3.4
!pip install fastprogress==1.0.0
!pip install fastrlock==0.6
!pip install fbprophet==0.7.1
!pip install feather-format==0.4.1
!pip install filelock==3.0.12
!pip install firebase-admin==4.4.0
!pip install fix-yahoo-finance==0.0.22
!pip install Flask==1.1.2
!pip install flatbuffers==1.12
!pip install folium==0.8.3
!pip install future==0.16.0
!pip install gast==0.3.3
!pip install GDAL==2.2.2
!pip install gdown==3.6.4
!pip install gensim==3.6.0
!pip install geographiclib==1.50
!pip install geopy==1.17.0
!pip install gin-config==0.4.0
!pip install glob2==0.7
!pip install google==2.0.3
!pip install google-api-core==1.26.3
!pip install google-api-python-client==1.12.8
!pip install google-auth==1.30.0
!pip install google-auth-httplib2==0.0.4
!pip install google-auth-oauthlib==0.4.4
!pip install google-cloud-bigquery==1.21.0
!pip install google-cloud-bigquery-storage==1.1.0
!pip install google-cloud-core==1.0.3
!pip install google-cloud-datastore==1.8.0
!pip install google-cloud-firestore==1.7.0
!pip install google-cloud-language==1.2.0
!pip install google-cloud-storage==1.18.1
!pip install google-cloud-translate==1.5.0
!pip install google-colab==1.0.0
!pip install google-pasta==0.2.0
!pip install google-resumable-media==0.4.1
!pip install googleapis-common-protos==1.53.0
!pip install googledrivedownloader==0.4
!pip install graphviz==0.10.1
!pip install greenlet==1.1.0
!pip install grpcio==1.32.0
!pip install gspread==3.0.1
!pip install gspread-dataframe==3.0.8
!pip install gym==0.17.3
!pip install h5py==2.10.0
!pip install HeapDict==1.0.1
!pip install hijri-converter==2.1.1
!pip install holidays==0.10.5.2
!pip install holoviews==1.14.3
!pip install html5lib==1.0.1
!pip install httpimport==0.5.18
!pip install httplib2==0.17.4
!pip install httplib2shim==0.0.3
!pip install humanize==0.5.1
!pip install hyperopt==0.1.2
!pip install ideep4py==2.0.0.post3
!pip install idna==2.10
!pip install imageio==2.4.1
!pip install imagesize==1.2.0
!pip install imbalanced-learn==0.4.3
!pip install imblearn==0.0
!pip install imgaug==0.2.9
!pip install importlib-metadata==4.0.1
!pip install importlib-resources==5.1.2
!pip install imutils==0.5.4
!pip install inflect==2.1.0
!pip install iniconfig==1.1.1
!pip install intel-openmp==2021.2.0
!pip install intervaltree==2.1.0
!pip install ipykernel==4.10.1
!pip install ipython==5.5.0
!pip install ipython-genutils==0.2.0
!pip install ipython-sql==0.3.9
!pip install ipywidgets==7.6.3
!pip install itsdangerous==2.0.0
!pip install jax==0.2.13
!pip install jaxlib==0.1.66+cuda110
!pip install jdcal==1.4.1
!pip install jedi==0.18.0
!pip install jieba==0.42.1
!pip install Jinja2==2.11.3
!pip install joblib==1.0.1
!pip install jpeg4py==0.1.4
!pip install jsonschema==2.6.0
!pip install jupyter==1.0.0
!pip install jupyter-client==5.3.5
!pip install jupyter-console==5.2.0
!pip install jupyter-core==4.7.1
!pip install jupyterlab-pygments==0.1.2
!pip install jupyterlab-widgets==1.0.0
!pip install kaggle==1.5.12
!pip install kapre==0.1.3.1
!pip install Keras==2.4.3
!pip install Keras-Preprocessing==1.1.2
!pip install keras-vis==0.4.1
!pip install kiwisolver==1.3.1
!pip install knnimpute==0.1.0
!pip install korean-lunar-calendar==0.2.1
!pip install librosa==0.8.0
!pip install lightgbm==2.2.3
!pip install llvmlite==0.34.0
!pip install lmdb==0.99
!pip install LunarCalendar==0.0.9
!pip install lxml==4.2.6
!pip install Markdown==3.3.4
!pip install MarkupSafe==2.0.0
!pip install matplotlib==3.2.2
!pip install matplotlib-inline==0.1.2
!pip install matplotlib-venn==0.11.6
!pip install missingno==0.4.2
!pip install mistune==0.8.4
!pip install mizani==0.6.0
!pip install mkl==2019.0
!pip install mlxtend==0.14.0
!pip install more-itertools==8.7.0
!pip install moviepy==0.2.3.5
!pip install mpmath==1.2.1
!pip install msgpack==1.0.2
!pip install multiprocess==0.70.11.1
!pip install multitasking==0.0.9
!pip install murmurhash==1.0.5
!pip install music21==5.5.0
!pip install natsort==5.5.0
!pip install nbclient==0.5.3
!pip install nbconvert==5.6.1
!pip install nbformat==5.1.3
!pip install nest-asyncio==1.5.1
!pip install netCDF4==1.5.6
!pip install networkx==2.5.1
!pip install nibabel==3.0.2
!pip install nltk==3.2.5
!pip install notebook==5.3.1
!pip install np-utils==0.5.12.1
!pip install numba==0.51.2
!pip install numexpr==2.7.3
!pip install numpy==1.19.5
!pip install nvidia-ml-py3==7.352.0
!pip install oauth2client==4.1.3
!pip install oauthlib==3.1.0
!pip install okgrade==0.4.3
!pip install opencv-contrib-python==4.1.2.30
!pip install opencv-python==4.1.2.30
!pip install openpyxl==2.5.9
!pip install opt-einsum==3.3.0
!pip install osqp==0.6.2.post0
!pip install packaging==20.9
!pip install palettable==3.3.0
!pip install pandas==1.1.5
!pip install pandas-datareader==0.9.0
!pip install pandas-gbq==0.13.3
!pip install pandas-profiling==1.4.1
!pip install pandocfilters==1.4.3
!pip install panel==0.11.3
!pip install param==1.10.1
!pip install parso==0.8.2
!pip install pathlib==1.0.1
!pip install patsy==0.5.1
!pip install pexpect==4.8.0
!pip install pickleshare==0.7.5
!pip install Pillow==7.1.2
!pip install pip-tools==4.5.1
!pip install plac==1.1.3
!pip install plotly==4.4.1
!pip install plotnine==0.6.0
!pip install pluggy==0.7.1
!pip install pooch==1.3.0
!pip install portpicker==1.3.9
!pip install prefetch-generator==1.0.1
!pip install preshed==3.0.5
!pip install prettytable==2.1.0
!pip install progressbar2==3.38.0
!pip install prometheus-client==0.10.1
!pip install promise==2.3
!pip install prompt-toolkit==1.0.18
!pip install protobuf==3.12.4
!pip install psutil==5.4.8
!pip install psycopg2==2.7.6.1
!pip install ptyprocess==0.7.0
!pip install py==1.10.0
!pip install pyarrow==3.0.0
!pip install pyasn1==0.4.8
!pip install pyasn1-modules==0.2.8
!pip install pycocotools==2.0.2
!pip install pycparser==2.20
!pip install pyct==0.4.8
!pip install pydata-google-auth==1.2.0
!pip install pydot==1.3.0
!pip install pydot-ng==2.0.0
!pip install pydotplus==2.0.2
!pip install PyDrive==1.3.1
!pip install pyemd==0.5.1
!pip install pyerfa==1.7.3
!pip install pyglet==1.5.0
!pip install Pygments==2.6.1
!pip install pygobject==3.26.1
!pip install pymc3==3.11.2
!pip install PyMeeus==0.5.11
!pip install pymongo==3.11.4
!pip install pymystem3==0.2.0
!pip install PyOpenGL==3.1.5
!pip install pyparsing==2.4.7
!pip install pyrsistent==0.17.3
!pip install pysndfile==1.3.8
!pip install PySocks==1.7.1
!pip install pystan==2.19.1.1
!pip install pytest==3.6.4
!pip install python-apt==0.0.0
!pip install python-chess==0.23.11
!pip install python-dateutil==2.8.1
!pip install python-louvain==0.15
!pip install python-slugify==5.0.2
!pip install python-utils==2.5.6
!pip install pytz==2018.9
!pip install pyviz-comms==2.0.1
!pip install PyWavelets==1.1.1
!pip install PyYAML==3.13
!pip install pyzmq==22.0.3
!pip install qdldl==0.1.5.post0
!pip install qtconsole==5.1.0
!pip install QtPy==1.9.0
!pip install regex==2019.12.20
!pip install requests==2.23.0
!pip install requests-oauthlib==1.3.0
!pip install resampy==0.2.2
!pip install retrying==1.3.3
!pip install rpy2==3.4.4
!pip install rsa==4.7.2
!pip install scikit-image==0.16.2
!pip install scikit-learn==0.22.2.post1
!pip install scipy==1.4.1
!pip install screen-resolution-extra==0.0.0
!pip install scs==2.1.3
!pip install seaborn==0.11.1
!pip install semver==2.13.0
!pip install Send2Trash==1.5.0
!pip install setuptools-git==1.2
!pip install Shapely==1.7.1
!pip install simplegeneric==0.8.1
!pip install six==1.15.0
!pip install sklearn==0.0
!pip install sklearn-pandas==1.8.0
!pip install smart-open==5.0.0
!pip install snowballstemmer==2.1.0
!pip install sortedcontainers==2.3.0
!pip install SoundFile==0.10.3.post1
!pip install spacy==2.2.4
!pip install Sphinx==1.8.5
!pip install sphinxcontrib-serializinghtml==1.1.4
!pip install sphinxcontrib-websupport==1.2.4
!pip install SQLAlchemy==1.4.15
!pip install sqlparse==0.4.1
!pip install srsly==1.0.5
!pip install statsmodels==0.10.2
!pip install sympy==1.7.1
!pip install tables==3.4.4
!pip install tabulate==0.8.9
!pip install tblib==1.7.0
!pip install tensorboard==2.4.1
!pip install tensorboard-plugin-wit==1.8.0
!pip install tensorflow==2.4.1
!pip install tensorflow-datasets==4.0.1
!pip install tensorflow-estimator==2.4.0
!pip install tensorflow-gcs-config==2.4.0
!pip install tensorflow-hub==0.12.0
!pip install tensorflow-metadata==0.30.0
!pip install tensorflow-probability==0.12.1
!pip install termcolor==1.1.0
!pip install terminado==0.9.5
!pip install testpath==0.4.4
!pip install text-unidecode==1.3
!pip install textblob==0.15.3
!pip install textgenrnn==1.4.1
!pip install Theano-PyMC==1.1.2
!pip install thinc==7.4.0
!pip install tifffile==2021.4.8
!pip install toml==0.10.2
!pip install toolz==0.11.1
!pip install torch==1.8.1+cu101
!pip install torchsummary==1.5.1
!pip install torchtext==0.9.1
!pip install torchvision==0.9.1+cu101
!pip install tornado==5.1.1
!pip install tqdm==4.41.1
!pip install traitlets==5.0.5
!pip install tweepy==3.10.0
!pip install typeguard==2.7.1
!pip install typing-extensions==3.7.4.3
!pip install tzlocal==1.5.1
!pip install uritemplate==3.0.1
!pip install urllib3==1.24.3
!pip install vega-datasets==0.9.0
!pip install wasabi==0.8.2
!pip install wcwidth==0.2.5
!pip install webencodings==0.5.1
!pip install Werkzeug==2.0.0
!pip install widgetsnbextension==3.5.1
!pip install wordcloud==1.5.0
!pip install wrapt==1.12.1
!pip install xarray==0.18.0
!pip install xgboost==0.90
!pip install xkit==0.0.0
!pip install xlrd==1.1.0
!pip install xlwt==1.3.0
!pip install yellowbrick==0.9.1
!pip install zict==2.0.0
!pip install zipp==3.4.1
!pip install 
!pip install 